# 1 Importownie bibliotek

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

# 2 Importowanie pliku w PANDAS

## Jest kilka sposobów, najprostszy jest gdy mamy *.CSV:

df1=pd.read_csv('ks-projects-201801.csv')

df2=pd.read_csv('./course-files/ks-projects-201801.csv')

**Uwagi:**
    1. plik ks-projects-201801.csv w **DF2** ma podaną ściężkę jak widać spoza lokalizacji ROOTa ./jupitera, w zwkiązku z tym jest "./"
    2. można w jupiterze używać TABa po "./"
    3. w przypadku **DF1** gdy mamy notebook w tej samej lokalizacji co plik to nie musimy używać "./"
    
 **Pandas obsuguje inne pliki, takie jak np:**
    1. excel
    2. html
    3. jason
    4. schowek
 Wszystko jest pod tabulatorem po .read_

## Import poszczególnych kolumn na przykładzie *.CSV

df1=pd.read_csv('ks-projects-201801.csv',usecols=['usd pledged','usd_pledged_real'])

In [3]:
df1=pd.read_csv('ks-projects-201801.csv',usecols=['usd pledged','usd_pledged_real'])
#.head() wyświetla 5 krotek - jeśli będzie parametr (10) to będzie 10 krotek
print(df1.head())
print('\n')
#.tail() wyświetla 5 krotek - jeśli będzie parametr (10) to będzie 10 krotek
print(df1.tail())

   usd pledged  usd_pledged_real
0          0.0               0.0
1        100.0            2421.0
2        220.0             220.0
3          1.0               1.0
4       1283.0            1283.0


        usd pledged  usd_pledged_real
378656         25.0              25.0
378657        155.0             155.0
378658         20.0              20.0
378659        200.0             200.0
378660        524.0             524.0

In [4]:
df1=pd.read_csv('ks-projects-201801.csv',usecols=['usd pledged','usd_pledged_real'])
df1.head()

   usd pledged  usd_pledged_real
0          0.0               0.0
1        100.0            2421.0
2        220.0             220.0
3          1.0               1.0
4       1283.0            1283.0

## 2.1 Inne sposoby importu plików:
import csv

**konstrukcja *with* pozwala na otworzenie pliku i korzystanie z niego wewnątrz niej, po jej opuszczeniu automatycznie zamknie strumień odczytu**

with open('plik.csv', 'r') as csvfile:

**deklarujemy nasz *czytacz* parametr *delimiter* jest opcjonalny i wskazuje jaki został w pliku użyty separator**

csvreader = csv.reader(csvfile, delimiter=',')

**pojawia się nowy paramet encoding ustawiony na utf-8**

with open('plik.csv', 'r', encoding='utf-8') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')

## 2.2 Indeksowanie Serii/DataFrame

1. Gdy zaimportujemy domyślnie nasz plik, indeksem staje się domyślnie utworzona kolumna. Widać to poniżej:

In [8]:
df1=pd.read_csv('ks-projects-201801.csv')
df1.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

2. Można to zmienić gdy przypiszemy indeks parametrem **index_col**, podczas importu pliku. Poniżej przykład z df2

In [10]:
df2=pd.read_csv('ks-projects-201801.csv', index_col='ID')
df2.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

## 2.3 Filtrowanie Serii/DataFrame
1. Przypisujemy kolumnę do zmiennej np o nazwie zmiennej kolumny **usd_pledged_real**, z już zaimportowanego pliku do zmiennej **df1**

In [11]:
usd_pledged_real=df1['usd_pledged_real']
print(usd_pledged_real.head())

0       0.0
1    2421.0
2     220.0
3       1.0
4    1283.0
Name: usd_pledged_real, dtype: float64

2. Zgodnie z good pactices nazywamy w nazwie zmiennej słowa filtr i przypisujmey do niej już samą kolumnę, następnie **==** wpisujemy wartość jaka nas interesuje

In [10]:
df1Filter100 = usd_pledged_real == 100
print(df1Filter100.head())

0    False
1    False
2    False
3    False
4    False
Name: usd_pledged_real, dtype: bool

3. wynik zwraca zawsze wartości boolowe
4. No i wreszcie chcemy wyświetlić wszystkie wartości z df1, które w kolumnie **usd_pledged_real** mają wartość **100**, dodatkowo usuwamy puste krotki poprzez dodanie **.dropna**

In [11]:
print(df1.where(df1Filter100).dropna().head(10))

                ID                                               name  \
278   1.001243e+09                                  The FUSIONproject
333   1.001514e+09  Help start Jacksonville's FIRST Paint Your Own...
395   1.001843e+09        Gospel Jazz Independant Artist - CD Project
699   1.003441e+09  Vanilley Bean Treats! For life's "sweet" moments!
831   1.004071e+09                      1 Man, 10 Days, 100+ Canvases
909   1.004514e+09                         Give in to Sweet Surrender
1112  1.005617e+09                            The Dousing Sauce Story
1297  1.006646e+09                The Die: A Comedy Horror Short Film
1516  1.007753e+09                                    Blue Haus Grill
1530  1.007821e+09                             The Life Story Project

         category main_category currency    deadline     goal  \
278   Documentary  Film & Video      USD  2011-04-24   5000.0
333      Ceramics           Art      USD  2014-11-04   8000.0
395         Music         Music      USD  2011-06-18   7000.0
699          Food          Food      USD  2012-12-25   1500.0
831      Painting           Art      USD  2012-11-09  10000.0
909   Small Batch          Food      USD  2015-02-18   5000.0
1112         Food          Food      USD  2015-06-01  25000.0
1297       Shorts  Film & Video      USD  2011-10-07   1000.0
1516         Food          Food      USD  2014-04-10   3000.0
1530        Print    Journalism      USD  2014-11-03   2500.0

                 launched  pledged   state  backers country  usd pledged  \
278   2011-03-24 00:08:46    100.0  failed      1.0      US        100.0
333   2014-09-25 00:57:10    100.0  failed      1.0      US        100.0
395   2011-05-19 21:34:49    100.0  failed      1.0      US        100.0
699   2012-11-20 01:41:51    100.0  failed      3.0      US        100.0
831   2012-10-05 10:13:37    100.0  failed      1.0      US        100.0
909   2015-01-19 02:28:05    100.0  failed      1.0      US        100.0
1112  2015-04-08 07:55:56    100.0  failed      3.0      US        100.0
1297  2011-09-07 02:07:41    100.0  failed      2.0      US        100.0
1516  2014-03-11 20:07:47    100.0  failed      1.0      US        100.0
1530  2014-10-04 03:14:42    100.0  failed      1.0      US        100.0

      usd_pledged_real  usd_goal_real
278              100.0         5000.0
333              100.0         8000.0
395              100.0         7000.0
699              100.0         1500.0
831              100.0        10000.0
909              100.0         5000.0
1112             100.0        25000.0
1297             100.0         1000.0
1516             100.0         3000.0
1530             100.0         2500.0

5. Można oczywiście łączyć kilka filtrów za pomocą operatora **&**

**UWAGA** Najprawdopodobniej jest to filtrowanie warunkowe, a w przypadku łączenia filtrów oba warunki muszą być spełnione

In [12]:
df1FilterMore100 = usd_pledged_real >= 100

print(df1.where(df1Filter100 & df1FilterMore100).dropna())

                  ID                                               name  \
278     1.001243e+09                                  The FUSIONproject
333     1.001514e+09  Help start Jacksonville's FIRST Paint Your Own...
395     1.001843e+09        Gospel Jazz Independant Artist - CD Project
699     1.003441e+09  Vanilley Bean Treats! For life's "sweet" moments!
831     1.004071e+09                      1 Man, 10 Days, 100+ Canvases
...              ...                                                ...
377900  9.962912e+08                                     The Year After
378043  9.970334e+07                 Inner Cities in America (Canceled)
378093  9.973334e+08                             Jai Allen's EP Project
378461  9.989923e+08                                     The Watchmaker
378640  9.998936e+08                          Ciridian Helix (Canceled)

           category main_category currency    deadline     goal  \
278     Documentary  Film & Video      USD  2011-04-24   5000.0
333        Ceramics           Art      USD  2014-11-04   8000.0
395           Music         Music      USD  2011-06-18   7000.0
699            Food          Food      USD  2012-12-25   1500.0
831        Painting           Art      USD  2012-11-09  10000.0
...             ...           ...      ...         ...      ...
377900  Documentary  Film & Video      USD  2015-09-16   3500.0
378043  Documentary  Film & Video      USD  2015-12-11    750.0
378093        Faith         Music      USD  2017-11-09   3500.0
378461   Indie Rock         Music      USD  2011-05-20  11000.0
378640      Fiction    Publishing      USD  2014-09-11   1000.0

                   launched  pledged     state  backers country  usd pledged  \
278     2011-03-24 00:08:46    100.0    failed      1.0      US        100.0
333     2014-09-25 00:57:10    100.0    failed      1.0      US        100.0
395     2011-05-19 21:34:49    100.0    failed      1.0      US        100.0
699     2012-11-20 01:41:51    100.0    failed      3.0      US        100.0
831     2012-10-05 10:13:37    100.0    failed      1.0      US        100.0
...                     ...      ...       ...      ...     ...          ...
377900  2015-08-17 08:16:19    100.0    failed      1.0      US        100.0
378043  2015-11-11 20:14:20    100.0  canceled      6.0      US        100.0
378093  2017-10-10 10:45:41    100.0    failed      2.0      US          0.0
378461  2011-04-06 01:44:46    100.0    failed      1.0      US        100.0
378640  2014-08-08 21:49:31    100.0  canceled      2.0      US        100.0

        usd_pledged_real  usd_goal_real
278                100.0         5000.0
333                100.0         8000.0
395                100.0         7000.0
699                100.0         1500.0
831                100.0        10000.0
...                  ...            ...
377900             100.0         3500.0
378043             100.0          750.0
378093             100.0         3500.0
378461             100.0        11000.0
378640             100.0         1000.0

[2436 rows x 15 columns]

## 2.4 Czyszczenie danych

1. Można poczyścić dane z warości NULL, dzięki metodzie **.dropna**, parametr **inplace=True** informuje o zapisaniu zmian do df1!

In [13]:
df1.dropna(inplace=True)

## 2.5 Zapisywanie plików

# 3 Seria a DataFrame

## 3.1 Seria

### 3.1.2 Atrybuty

1. .size - rozmiar w pamięci

In [12]:
df1.size

5679915

2. .nbytes - ilość bytów dla Serii (inaczek kolumny). Dlatego najpierw definiuje serie

In [15]:
seria=df1['name']
seria.nbytes

2998880

3. .is_unique - czy posiada dana seria unikalne wartości

In [16]:
seria.is_unique

False

4. .is_monotonic - monotoniczne lub posortowane

In [17]:
seria.is_monotonic

False

5. .index - budowa indexu

In [18]:
df1.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            378651, 378652, 378653, 378654, 378655, 378656, 378657, 378658,
            378659, 378660],
           dtype='int64', length=374860)

6. .values - jakie wartości

In [19]:
seria.values

array(['The Songs of Adelaide & Abullah',
       'Greeting From Earth: ZGAC Arts Capsule For ET', 'Where is Hank?',
       ...,
       'Walls of Remedy- New lesbian Romantic Comedy feature unlike any other!!',
       'BioDefense Education Kit', 'Nou Renmen Ayiti!  We Love Haiti!'],
      dtype=object)

7. .dtype - jakiego typu są kolumny

In [20]:
df1.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

8. .shape - kształt

In [21]:
df1.shape

(374860, 15)

9. .axes - współrzędne

In [22]:
df1.axes

[Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                  8,      9,
             ...
             378651, 378652, 378653, 378654, 378655, 378656, 378657, 378658,
             378659, 378660],
            dtype='int64', length=374860),
 Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
        'goal', 'launched', 'pledged', 'state', 'backers', 'country',
        'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
       dtype='object')]

### 3.1.3 Metody

1. .sum()

In [14]:
seriaM=df1['ID']
seriaM.sum()

406958787889654

2. seriaM.min()

In [15]:
seriaM.min()

5971

3. .max()

In [16]:
seriaM.max()

2147476221

4. .count()

In [17]:
seriaM.count()

378661

5. .size

In [20]:
seriaM.size

378661

6. .product - wymnarza wszystko przez siebie i zwraca wynik, jakiś taki iloczyn kartezjański

In [22]:
seriaM.product

<bound method Series.prod of 0         1000002330
1         1000003930
2         1000004038
3         1000007540
4         1000011046
             ...
378656     999976400
378657     999977640
378658     999986353
378659     999987933
378660     999988282
Name: ID, Length: 378661, dtype: int64>

7. .keys()

In [24]:
seriaM.keys()

RangeIndex(start=0, stop=378661, step=1)

8. .get_values

In [43]:
seriaM.get_values

<bound method Series.get_values of 0         1000002330
1         1000003930
2         1000004038
3         1000007540
4         1000011046
             ...
378656     999976400
378657     999977640
378658     999986353
378659     999987933
378660     999988282
Name: ID, Length: 378661, dtype: int64>

9. .tolist() - przekształcenie SERIES do Listy!!!

In [30]:
seriaM.to_list()

[1000002330,
 1000003930,
 1000004038,
 1000007540,
 1000011046,
 1000014025,
 1000023410,
 1000030581,
 1000034518,
 100004195,
 100004721,
 100005484,
 1000055792,
 1000056157,
 1000057089,
 1000064368,
 1000064918,
 1000068480,
 1000070642,
 1000071625,
 1000072011,
 1000081649,
 1000082254,
 1000087442,
 1000091520,
 1000102741,
 1000103948,
 1000104688,
 1000104953,
 100011318,
 1000115172,
 1000117861,
 1000120151,
 1000120287,
 100012079,
 1000129669,
 1000131947,
 1000132945,
 1000134913,
 1000146991,
 1000149007,
 1000153208,
 1000160286,
 1000170964,
 1000171141,
 1000182258,
 1000183112,
 1000184224,
 1000190427,
 1000197321,
 1000201265,
 100020143,
 1000202062,
 1000212914,
 1000216800,
 1000217634,
 1000226576,
 1000227361,
 1000230071,
 1000232288,
 1000233415,
 1000234595,
 1000235465,
 1000235643,
 1000243793,
 1000245024,
 1000252415,
 1000256230,
 1000256760,
 1000257563,
 1000260691,
 1000261018,
 1000268182,
 1000278154,
 1000282287,
 1000291122,
 1000291263,
 1000294559,
 1000320473,
 1000328150,
 1000328328,
 1000331311,
 1000332383,
 1000333671,
 1000334074,
 1000335422,
 1000338818,
 1000339877,
 1000340977,
 1000344383,
 1000348690,
 1000348776,
 1000354338,
 10003650,
 1000374001,
 1000386601,
 1000389241,
 1000392220,
 100039820,
 1000399155,
 1000405957,
 1000413719,
 1000415969,
 1000422671,
 1000427280,
 1000428719,
 10004373,
 100044420,
 1000445513,
 1000450327,
 1000454605,
 1000465399,
 1000468345,
 1000476123,
 1000479996,
 1000481607,
 1000490852,
 1000491057,
 1000491830,
 1000499845,
 1000509854,
 1000514796,
 100051531,
 1000519001,
 1000521061,
 1000521421,
 1000524949,
 1000535116,
 1000537760,
 1000542390,
 1000543883,
 1000545028,
 1000549881,
 1000551777,
 1000553538,
 1000558429,
 1000566862,
 1000567557,
 100056789,
 100057323,
 1000577059,
 10005784,
 1000581546,
 1000581804,
 1000586849,
 1000590709,
 1000598804,
 1000600012,
 1000600526,
 1000600868,
 1000602156,
 1000620551,
 1000624031,
 1000627718,
 1000629643,
 1000638156,
 1000639526,
 1000644119,
 1000648117,
 1000648918,
 100065084,
 1000650960,
 1000654344,
 1000654409,
 1000656794,
 1000659557,
 1000674477,
 1000682368,
 1000684975,
 1000694855,
 1000697657,
 1000699196,
 1000707541,
 1000710630,
 1000719127,
 1000725978,
 1000727191,
 1000727905,
 1000741180,
 1000741387,
 1000752960,
 1000754401,
 1000758916,
 1000761521,
 1000767040,
 1000770149,
 1000772297,
 1000776914,
 1000777557,
 1000781363,
 1000781512,
 1000785030,
 1000786724,
 1000788629,
 100078996,
 1000802137,
 1000804307,
 1000804742,
 1000810416,
 1000811882,
 1000823935,
 1000827504,
 1000827890,
 1000834930,
 1000844246,
 1000850525,
 1000853310,
 1000865260,
 1000869383,
 1000883509,
 1000885772,
 100089599,
 1000896053,
 1000916036,
 1000918505,
 100091944,
 1000922108,
 1000932522,
 1000937140,
 1000940032,
 1000942804,
 1000953875,
 1000968500,
 1000983983,
 1000987760,
 1000988678,
 1000988864,
 1000992739,
 1000997384,
 1001000566,
 100101389,
 100101652,
 1001019464,
 1001020080,
 100102338,
 1001028167,
 1001033266,
 1001035783,
 1001042227,
 1001043181,
 1001048123,
 1001052357,
 1001057158,
 1001064677,
 1001077166,
 1001086968,
 1001087429,
 1001087682,
 1001093391,
 1001097057,
 1001110351,
 1001115961,
 1001116225,
 1001126692,
 1001128468,
 1001132597,
 1001135664,
 1001136944,
 1001137002,
 1001143049,
 1001149306,
 100114978,
 1001156528,
 1001157858,
 1001159174,
 1001165113,
 10011702,
 1001181420,
 1001188527,
 1001190550,
 1001216413,
 1001217929,
 1001218320,
 1001223817,
 1001227372,
 1001228129,
 1001230250,
 1001242672,
 1001243185,
 1001243867,
 1001244864,
 100124630,
 1001251896,
 1001259618,
 1001263250,
 1001265769,
 1001270191,
 1001279854,
 1001288451,
 1001292387,
 1001295591,
 100130008,
 1001302417,
 1001302832,
 1001303993,
 1001304256,
 1001328623,
 1001333672,
 1001338336,
 1001338443,
 1001339505,
 1001340544,
 100134337,
 1001344493,
 1001347176,
 1001348491,
 1001352451,
 1001353002,
 1001353112,
 1001366443,
 1001368898,
 1001373564,
 1001377540,
 1001404128,
 1001407622,
 1001423755,
 1001432466,
 1001435839,
 1001442355,
 1001442379,
 100144828,
 1001468086,
 100147142,
 1001473842,
 1001476723,
 1001484182,
 1001490622,
 1001494526,
 100149523,
 1001498884,
 1001502333,
 1001503577,
 1001508135,
 1001513743,
 1001516983,
 1001523858,
 1001524172,
 1001527526,
 1001529115,
 1001529854,
 1001542282,
 1001543887,
 1001548662,
 1001556760,
 1001560762,
 1001565620,
 1001566226,
 1001567779,
 1001570537,
 1001573862,
 1001575705,
 1001576108,
 1001578248,
 100158537,
 1001591110,
 1001600663,
 100161658,
 100162622,
 1001639879,
 1001639910,
 1001650469,
 1001656127,
 1001664105,
 1001685760,
 1001687258,
 1001689284,
 1001696224,
 1001704257,
 1001708060,
 100171056,
 1001711592,
 1001714289,
 1001723373,
 1001726950,
 1001732009,
 100173367,
 100173829,
 1001751835,
 1001762923,
 1001768094,
 1001778275,
 1001780885,
 1001786083,
 1001787855,
 1001796633,
 100181036,
 1001813414,
 1001814122,
 1001817414,
 1001820357,
 100182282,
 1001823329,
 10018239,
 1001838811,
 1001839289,
 1001842762,
 1001846249,
 1001856035,
 1001857288,
 1001863639,
 1001878319,
 100188605,
 1001892879,
 1001899204,
 1001904214,
 1001904397,
 1001916592,
 1001923268,
 1001924624,
 100194308,
 1001951313,
 100196479,
 1001967967,
 1001973436,
 1001975568,
 1001979324,
 1001981525,
 1001988165,
 1001989065,
 1001991458,
 1001994928,
 1002004487,
 1002005884,
 1002007289,
 1002027893,
 1002029488,
 1002031061,
 1002042898,
 1002045558,
 1002058532,
 1002058739,
 1002071867,
 100207951,
 1002085616,
 1002087593,
 1002089437,
 1002096459,
 1002098978,
 1002100913,
 1002105969,
 1002109548,
 1002117681,
 1002117994,
 100212057,
 1002122038,
 1002125056,
 1002125164,
 100212849,
 1002131859,
 1002132449,
 1002132537,
 1002133517,
 1002139381,
 1002139540,
 1002140523,
 1002151750,
 1002181673,
 1002182970,
 1002183790,
 1002187988,
 1002189572,
 1002191351,
 1002191592,
 1002193030,
 1002193523,
 1002208176,
 1002211518,
 1002222234,
 1002222363,
 1002226766,
 1002234028,
 100224840,
 1002250421,
 1002264833,
 1002269200,
 1002272545,
 100227845,
 1002287054,
 1002289150,
 1002294238,
 1002295749,
 1002299677,
 1002304874,
 100230798,
 1002308373,
 1002312219,
 1002342607,
 1002344676,
 1002355670,
 1002363227,
 100236770,
 1002368838,
 1002371950,
 1002372799,
 1002379225,
 1002382304,
 1002383422,
 1002384825,
 1002388106,
 1002400187,
 1002405311,
 1002407161,
 1002416983,
 1002418598,
 10024216,
 1002421792,
 1002436709,
 1002444966,
 100245014,
 1002451969,
 1002453633,
 1002455585,
 1002456171,
 1002478333,
 1002484986,
 1002490303,
 1002492289,
 10024998,
 1002500521,
 1002511877,
 1002512911,
 1002514543,
 1002515281,
 1002519316,
 1002520944,
 1002521611,
 1002522073,
 1002524565,
 1002538085,
 1002554777,
 1002560995,
 1002570423,
 1002571103,
 1002585330,
 1002586292,
 1002590077,
 1002597730,
 1002599057,
 1002599773,
 1002599863,
 1002611685,
 1002617687,
 1002621189,
 1002624093,
 1002629894,
 100263139,
 1002633138,
 100264379,
 1002646104,
 1002646572,
 1002651584,
 1002664274,
 1002674727,
 1002681356,
 1002684709,
 1002692211,
 1002710067,
 1002715554,
 1002717273,
 1002717707,
 1002720451,
 1002721954,
 1002723323,
 1002723555,
 1002724533,
 1002728217,
 1002734991,
 1002740336,
 1002745522,
 1002746950,
 1002749658,
 100275914,
 1002762500,
 1002767552,
 1002768509,
 1002770238,
 1002772966,
 1002777672,
 1002780789,
 1002783462,
 100278912,
 1002789295,
 1002789956,
 1002799755,
 1002810193,
 1002812438,
 100281397,
 1002835689,
 1002840021,
 1002843911,
 1002854072,
 1002854457,
 1002856989,
 1002857267,
 1002864290,
 1002868550,
 1002877175,
 1002884058,
 1002884302,
 1002885178,
 1002886944,
 1002894446,
 1002899845,
 1002904556,
 1002907198,
 1002909435,
 1002910237,
 1002911532,
 1002914380,
 1002919742,
 1002933346,
 1002937987,
 1002938908,
 1002939824,
 1002944526,
 1002946462,
 1002957206,
 1002958908,
 1002959927,
 1002965096,
 1002966619,
 100296818,
 1002981465,
 1002984666,
 1002985353,
 1002987150,
 1002997533,
 100301082,
 1003011722,
 100301303,
 1003014108,
 100301891,
 1003023003,
 1003036680,
 1003053633,
 1003074300,
 1003074363,
 1003075861,
 1003083361,
 1003087682,
 1003095315,
 1003104071,
 1003111955,
 1003118035,
 1003122437,
 1003125430,
 1003127225,
 1003130892,
 1003138593,
 10031522,
 1003155427,
 1003165056,
 1003166589,
 1003167050,
 1003169165,
 1003182869,
 1003189373,
 1003190758,
 1003202814,
 1003216930,
 1003217096,
 1003228594,
 1003229159,
 100324011,
 1003240719,
 1003249516,
 1003259197,
 1003262687,
 1003276918,
 1003279532,
 100328540,
 1003293246,
 1003294350,
 1003298216,
 1003308182,
 1003312804,
 1003329858,
 1003330319,
 1003338175,
 1003343308,
 1003346672,
 1003353231,
 1003356565,
 1003357844,
 1003362350,
 1003362537,
 1003365384,
 1003366986,
 1003367610,
 1003378025,
 1003381,
 1003405223,
 1003413226,
 1003413796,
 100341575,
 1003424923,
 100343348,
 1003434687,
 1003436789,
 1003441266,
 1003442902,
 1003447204,
 1003449040,
 1003456090,
 1003458038,
 1003458646,
 1003462608,
 10034684,
 1003478705,
 1003480324,
 1003481542,
 1003481744,
 10034874,
 1003490202,
 1003490559,
 100349058,
 1003494681,
 1003497710,
 1003499986,
 1003500295,
 1003500859,
 1003503289,
 1003506524,
 1003506965,
 1003509297,
 1003514666,
 1003515712,
 1003521001,
 1003523496,
 1003523631,
 1003523647,
 1003525413,
 1003533888,
 1003538517,
 1003539829,
 1003548564,
 1003558634,
 1003560849,
 1003561048,
 1003561611,
 1003568124,
 1003570206,
 1003572906,
 1003583457,
 1003583595,
 100358406,
 100359228,
 1003596506,
 1003616594,
 1003629045,
 1003637092,
 100365021,
 1003665581,
 1003666213,
 1003666645,
 1003666946,
 1003674692,
 1003677068,
 1003708660,
 1003709180,
 100371737,
 1003723279,
 1003725305,
 1003727338,
 100372771,
 1003742402,
 1003743392,
 100375774,
 1003757970,
 1003760463,
 1003761602,
 1003769496,
 1003770739,
 1003775701,
 1003775790,
 1003778636,
 1003793542,
 1003794504,
 100379732,
 1003801298,
 1003804028,
 1003804552,
 1003813966,
 1003819770,
 1003829191,
 1003830843,
 1003832819,
 1003835559,
 100385010,
 1003851620,
 1003856570,
 1003865687,
 1003865949,
 1003868419,
 1003884132,
 1003886618,
 1003889504,
 1003899141,
 1003900292,
 1003901425,
 1003904501,
 1003906010,
 1003909472,
 1003928652,
 1003928906,
 1003933374,
 1003938077,
 1003940608,
 1003946946,
 1003953048,
 1003953996,
 1003957942,
 100395799,
 1003960110,
 100396408,
 1003967599,
 1003973953,
 1003974659,
 1003983201,
 1003990867,
 100399282,
 1003997707,
 1004008910,
 1004010327,
 1004013077,
 1004015081,
 1004020983,
 1004025520,
 1004027294,
 1004030065,
 1004065093,
 1004070621,
 1004080416,
 10040833,
 1004084377,
 1004088982,
 1004091259,
 1004094650,
 1004097002,
 1004098791,
 1004109096,
 1004112120,
 100411349,
 1004125151,
 1004126342,
 1004126907,
 100413062,
 1004131124,
 1004138236,
 1004152737,
 1004156743,
 1004167304,
 1004189486,
 1004192678,
 1004198028,
 1004203496,
 1004211205,
 1004216021,
 1004218067,
 1004220301,
 1004220332,
 1004226383,
 1004236435,
 1004249231,
 1004255433,
 1004261287,
 1004269025,
 1004275298,
 1004275497,
 1004286651,
 1004298993,
 1004303528,
 1004304382,
 1004304591,
 1004307461,
 1004307530,
 1004317441,
 100433895,
 1004339642,
 1004349656,
 1004353925,
 1004356539,
 1004367374,
 100437007,
 1004372197,
 1004377000,
 1004379805,
 100438743,
 1004394288,
 1004399460,
 1004402863,
 1004405723,
 1004405919,
 10044110,
 1004434782,
 1004436383,
 1004448951,
 1004451940,
 1004456764,
 1004457833,
 1004458643,
 1004468122,
 1004473432,
 1004480789,
 100448936,
 1004493837,
 1004500333,
 1004506986,
 1004511073,
 1004513718,
 1004516410,
 100452386,
 1004551323,
 100455559,
 1004559427,
 1004560254,
 1004597770,
 1004598628,
 1004598691,
 100459896,
 100459984,
 1004600408,
 1004619032,
 1004621325,
 1004621740,
 1004637630,
 1004638242,
 1004641424,
 100464296,
 1004648273,
 1004649506,
 1004666737,
 1004668657,
 1004671073,
 1004671876,
 1004686676,
 1004687584,
 1004692921,
 1004696424,
 1004697378,
 1004698783,
 1004727949,
 1004749427,
 1004752143,
 1004756907,
 1004760459,
 1004763680,
 1004766153,
 1004781384,
 1004783664,
 1004784584,
 1004807406,
 1004808301,
 1004812579,
 1004814701,
 1004814890,
 1004817817,
 1004820376,
 1004830984,
 100483818,
 1004846489,
 1004851582,
 1004856971,
 1004859669,
 1004866875,
 1004871321,
 1004889267,
 1004911835,
 1004921259,
 1004922401,
 1004930345,
 1004941506,
 100495978,
 1004959988,
 1004964278,
 1004968643,
 1004972393,
 1004979544,
 100497966,
 1004982490,
 1004988635,
 1004989778,
 1004990910,
 1004999687,
 1005000674,
 10050058,
 1005008262,
 1005009188,
 1005014904,
 1005018489,
 1005020458,
 1005023399,
 1005027414,
 1005030157,
 1005036020,
 1005037455,
 1005040851,
 1005044737,
 1005051188,
 1005053619,
 ...]

10. .add(10) - dodanie 10 do każdego elementu Series

In [31]:
seriaM.add(10)

0         1000002340
1         1000003940
2         1000004048
3         1000007550
4         1000011056
             ...
378656     999976410
378657     999977650
378658     999986363
378659     999987943
378660     999988292
Name: ID, Length: 378661, dtype: int64

11. .reindex() - przebudowywanie indexu, można też zastąpić tą metodą NULLe parametrem **fill_value**

In [42]:
seriaM.reindex(index=None).head()

0    1000002330
1    1000003930
2    1000004038
3    1000007540
4    1000011046
Name: ID, dtype: int64

12. .str.upper() - na duże litery

In [45]:
seriaText=df1['category']
seriaText.str.upper()

0                  POETRY
1          NARRATIVE FILM
2          NARRATIVE FILM
3                   MUSIC
4            FILM & VIDEO
               ...
378656        DOCUMENTARY
378657     NARRATIVE FILM
378658     NARRATIVE FILM
378659         TECHNOLOGY
378660    PERFORMANCE ART
Name: category, Length: 378661, dtype: object

13. .map() - mapowanie serii lub słownika na przykładzie z wbudowanego helpa

In [48]:
s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
print(s)
s.map({'cat': 'kitten', 'dog': 'puppy'})

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object

14. .get_dtype_counts() - zlicza ilość kolumn danego typu

In [54]:
df1.get_dtype_counts()

C:\Users\admin\.conda\envs\Infoshare\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  """Entry point for launching an IPython kernel.

float64    5
int64      2
object     8
dtype: int64

15. .value_counts() - ile jest poszczególnych wartości

In [60]:
seriaText.value_counts()

Product Design     22314
Documentary        16139
Music              15727
Tabletop Games     14180
Shorts             12357
                   ...
Residencies           69
Letterpress           49
Chiptune              35
Literary Spaces       27
Taxidermy             13
Name: category, Length: 159, dtype: int64

16. .sample() - losowanie kilku wartości - taki random

In [64]:
seriaText.sample(5)

147497    Electronic Music
176324      Product Design
160888               Music
363378          Indie Rock
301868         Accessories
Name: category, dtype: object

17. .copy() - kopiowanie rammki danych, używamy aby działać na kopii i nie wywalić głównego zbioru

In [72]:
seriaNowa=seriaText.copy()
seriaNowa

0                  Poetry
1          Narrative Film
2          Narrative Film
3                   Music
4            Film & Video
               ...
378656        Documentary
378657     Narrative Film
378658     Narrative Film
378659         Technology
378660    Performance Art
Name: category, Length: 378661, dtype: object

## 3.2 DataFrame

### 3.2.2 Atrybuty

1. .size - rozmiar
2. .nbytes - ilość bytów
3. .is_unique - czy unikalne
4. .is_monotonic - monotoniczne lub posortowane
5. .index - budowa indexu
6. .values - jakie wartości
7. .dtype - jakie typ warotści
8. .shape - kształt
9. .axes - współrzędne
10. .dtypes - jakie typ warotści
11. .shape - ile jest wierszy i ile jest kolumn
12. .columns - zwraca nazwy kolumny

### 3.2.3 Metody

1. .str.endswith('xxx') - spradza czy kończy się xxx
2. .str.strip() - ucina na początku i końću białe znaki w tym spacje
3. .str.split(' ') - potnie po spacji
4. .str.split(' ',expand=True) - potnie po spacji i podzieli na kolumny
5. .str.split(' ',expand=True, n=10) - potnie po spacji i podzieli na kolumny to na 10 kolumn po każdej spacji
6. .sum()
7. .min()
8. .max()
9. .count()
10. .size
11. .product - wymnarza wszystko przez siebie i zwraca wynik
12. .keys()
13. .get_values
14. .tolist() - przekształcenie SERIES do Listy!!!
15. .add(10) - dodanie 10 do każdego elementu Series
16. .reindex() - szukanie w liście
17. .str.upper() - na duże litery
18. .map() - mapowanie serii lub słownika
19. .len - długość
20. .get_dtype_counts() - zlicza ilość kolumn danego typu
21. .info() - ile wartości w kolumnach i jakego typu
22. .values_counts() - ile jest poszczególnych wartości trzeba określić jednak kolumnę
23. .sample() - losowanie kilku wartości
24. .nlargest() - największe wartości dla (1,'nazwa kolumny')
25. .rename - zmiana nazwy kolumny .rename({'SupplierID':'CustomerID'},axis='columns',inplace=True)
26. .set_index - ustawiamy index
27. .groupby(by=[kolumny]) - budowa multiindexu
28. .get_group((val1,val2)) - wydobywanie grupy z multiindexu
29. .agg()
30. groups.agg({'Revenue':['sum','min','max'],
           'Quantity':'sum',
           'Gross margin':'mean'}).head()
31. my_aggregation = ['sum','min','max']
32. groups.agg({'Revenue':my_aggregation,
           'Quantity':my_aggregation,
           'Gross margin':'mean'}).head()